<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>btenforce</string>
    <key>CFBundleDisplayName</key>
    <string>btenforce</string>
    <key>CFBundleIdentifier</key>
    <string>com.itech.btenforce</string>
    <key>CFBundleVersion</key>
    <string>2.1</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1</string>
    <key>CFBundleExecutable</key>
    <string>btenforce</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcons</string>
    <key>CFBundleIconName</key>
    <string>AppIcons</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.itech.btenforce</string>
            <key>UTTypeDescription</key>
            <string>Student Bluetooth Enforcement</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.executable</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
